<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
                
<head th:replace="~{layout/comm/config :: configFragment}"></head>

<body>
<header th:replace="~{layout/comm/header :: headerFragment}"></header>

  <th:block layout:fragment = "content">
  
  </th:block>

<div th:replace ="~{layout/comm/footer :: footerFragment}" ></div>




<th:block th:replace="~{layout/comm/script :: script}"></th:block>

  <th:block layout:fragment ="script">
  <!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
  </th:block> 
</body>
</html>