<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogmall.demo.cart.CartMapper">

	<insert id="cart_add" parameterType="com.dogmall.demo.cart.CartVO">
	
		MERGE INTO
			cart_tbl
		USING dual
			ON (mbl_id = #{mbl_id} AND pro_num = #{pro_num})
		WHEN MATCHED THEN
			UPDATE
				SET cart_amount = cart_amount + #{cart_amount}
		WHEN NOT MATCHED THEN
			INSERT (cart_code, pro_num, mbl_id, cart_amount)
			VALUES (seq_cart_code.NEXTVAL, #{pro_num}, #{mbl_id}, #{cart_amount})
	
	</insert>
	
	<select id="cart_list" parameterType="String" resultType="com.dogmall.demo.cart.CartProductVO">
	
		SELECT 
			c.mbl_id, p.pro_up_folder, p.pro_img, p.pro_price, p.pro_name,c.cart_code, p.pro_num, c.cart_amount
		FROM 
			cart_tbl c 
		INNER JOIN 
			product_tbl p
		ON 
			c.pro_num = p.pro_num
		WHERE 
			c.mbl_id = #{mbl_id}
	
	</select>
	
	<delete id="cart_del" parameterType="Long">
	
		DELETE FROM
			cart_tbl
		WHERE
			cart_code = #{cart_code}
	
	</delete>
	
	<update id="cart_change" parameterType="map">
	
		UPDATE
			cart_tbl
		SET
			cart_amount = #{cart_amount}
		WHERE
			cart_code = #{cart_code}
	
	</update>
	
	<delete id="cart_empty" parameterType="String">
	
		DELETE FROM
			cart_tbl
		WHERE
			mbl_id = #{mbl_id}
		
	</delete>

</mapper>