<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogmall.demo.payinfo.PayinfoMapper">

	<insert id="payinfo_insert" parameterType="com.dogmall.demo.payinfo.PayinfoMapper">
	
		INSERT INTO
			payinfo_tbl(pay_id, ord_code, paymethod, pay_price, pay_status)
		VALUES
			(seq_pay_id.NEXTVAL, #{ord_code}, #{paymethod}, #{pay_price}, #{pay_status})
	
	</insert>

</mapper>