<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layoutbasic}">
<body>

<th:block layout:fragment="content">
        		<div class="content-wrapper">

				<!-- Main content -->
				<section class="content">

					<!-- Your Page Content Here -->
					<div class="row">
						<div class="col">
							<div class="box box-info">
								<div class="box-header with-border">
									<h3 class="box-title">공지사항</h3>
								</div><!-- /.box-header -->
								<!-- list start -->
								<div class="row">
									<div class="col-md-12">
										<div class="box">
											<div class="box-body">
												<div>
													<form action="/admin/board/board_list" method="get">
														<select name="type">
														    <option th:selected="${pageMaker.cri.type == null}">검색종류선택</option>
														    <option value="N" th:selected="${pageMaker.cri.type == 'N'}">번호</option>
														    <option value="T" th:selected="${pageMaker.cri.type == 'T'}">게시물제목</option>
														</select>

														<input type="text" name="keyword"
															th:value="${pageMaker.cri.keyword}" />
														<input type="hidden" name="pageNum"
															th:value="${pageMaker.cri.pageNum}" />
														<input type="hidden" name="amount"
															th:value="${pageMaker.cri.amount}" />
														<button type="submit" class="btn btn-primary">검색</button>
													</form>
												</div>
												<table class="table table-bordered">
													<tbody>
														<tr>
															<th style="width: 10%">번호</th>
															<th style="width: 60%">게시물제목</th>
															<th style="width: 30%">등록일</th>
														</tr>

														<tr th:each="board : ${board_list}">
															<td th:text="${board.b_num}"></td>
															<td>
																<a th:href="@{/board/board_detail(b_num = ${board.b_num})}"
																th:text="${board.b_title}"></a>
															</td>
															<td
																th:text="${#dates.format(board.b_regdate, 'yyyy-MM-dd HH:mm:ss') }">
															</td>
														</tr>




													</tbody>
												</table>
											</div>
											<div class="box-footer clearfix">
												<div class="row">
													<div class="col-md-4">
														<!--  Criteria 클래스 필드사용목적 -->
														<!--1)페이지번호 클릭할 때 사용  [이전]  1	 2	3	4	5 [다음]  -->
														<!--2)목록에서 상품이미지 또는 상품명 클릭할 때 사용   -->
														<form id="actionForm" action="" method="get">
															<input type="hidden" name="pageNum" id="pageNum"
																th:value="${pageMaker.cri.pageNum}" />
															<input type="hidden" name="amount" id="amount"
																th:value="${pageMaker.cri.amount}" />
															<input type="hidden" name="type" id="type"
																th:value="${pageMaker.cri.type}" />
															<input type="hidden" name="keyword" id="keyword"
																th:value="${pageMaker.cri.keyword}" />

														</form>
													</div>
													<div class="col-md-6 text-center">
														<nav aria-label="...">
															<ul class="pagination">
																<!-- 이전 표시여부 -->

																<th:block th:if="${pageMaker.prev }">
																	<li class="page-item">
																		<a th:href="${pageMaker.startPage - 1 }"
																			class="page-link movepage">Previous</a>
																	</li>
																</th:block>

																<!-- https://jbground.tistory.com/40 페이지번호 출력 -->
																<!-- 1	2	3	4	5 6	7	8	9	10  [다음] -->
																<!-- [이전] 11	12	13	14	15 16	17	18	19	20   -->

																<th:block th:with="pageMaker = ${pageMaker}">
																	<th:block
																		th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
																		<li class='page-item'
																			th:classappend="${pageMaker.cri.pageNum ==  num ? 'active': '' }"
																			aria-current="page">
																			<a class="page-link movepage"
																				th:href="${num }" th:text="${num }"></a>
																		</li>
																	</th:block>
																</th:block>

																<!--  다음 표시여부 -->
																<th:block th:if="${pageMaker.next }">
																	<li class="page-item">
																		<a th:href="${pageMaker.endPage + 1 }"
																			class="page-link movepage">Next</a>
																	</li>
																</th:block>

															</ul>
														</nav>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</section><!-- /.content -->
			</div><!-- /.content-wrapper -->
        
</th:block>

<th:block layout:fragment="script">
    <script>
    
		$(document).ready(function (){
			let actionForm = $("#actionForm");
        
            // 페이지번호 클릭시(이전  1  2  3  4  5  다음) actionForm 을 사용한다.
            $(".movepage").on("click", function (e) {
                e.preventDefault(); // a태그의 href기능을 제거.
                // 주소변경
                actionForm.attr("action", "/board/board_list");
        
                // 1)클릭한 페이지번호 작업
                actionForm.find("input[name='pageNum']").val($(this).attr("href"));
                actionForm.submit();
            });
		});

    </script>
    </th:block>
</body>